.outer-icons {
    position: absolute;
    right: 10px;
    background: #fff;
  }
  .mains {
    position: relative;
  }
  .side-icons {
    padding: 3px 9px;
    border-bottom: 1px solid #eee;
}
.view{
    display:'none'
}


input {
  margin-top: 20px !important;
}

button{
  font-size: 22px;
  margin: 0px 20px 0px 0px !important;
}
.avatar {
  vertical-align: middle;
  width: 80px;
  height: 88px;
  border-color: gray red rgb(109, 20, 216) teal;
  border-style: outset;
  margin-left: 7%;
}
