.outer-icons {
    position: absolute;
    right: 10px;
    background: #fff;
  }
  .mains {
    position: relative;
  }
  .side-icons {
    padding: 3px 9px;
    border-bottom: 1px solid #eee;
}
.view{
    display:'none'
}
input{
  margin: 10px !important;
}
.fields {
  margin: 0 auto;
  height: 70px;
}
.title{
  margin: 0 auto !important;
}
.avatar {
  align-items: center;
  margin: 0 auto;
  height: 70px !important;
  width: 80% !important;
  border-radius: none !important;
}

.img-fluid {
  width: 100% !important;
  height: 70px !important;
  margin: -8px auto !important;
  border-radius: none !important;
}
.ban {
  width: 100% !important;
  height: 200px !important;
  margin: -8px auto !important;
  border-radius: none !important;
}

@media (max-width:999px)    {
  .upload {
    height: 40px;
    width: 100%;
}
.avatar {
  align-items: center;
  margin: 0 auto;
  height: 70px !important;
  width: 80% !;
}

.img-fluid {
  width: 100% !important;
  height: 70px !important;
  margin: 8px auto !important;
  border-radius: none !important;
}
.title {
  margin-top: 50% !important;
}
}
.was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip, .is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip {
  display: block;
  margin: -2px auto;
}